@model MgSolucoes.Models.ClienteViewModel
@{
    ViewBag.Title = "Cliente";
    WebGrid grid = new WebGrid(canPage: false, canSort: false);
    grid.Bind(Model.Clientes,
              autoSortAndPage: false
    );
}


@using (Html.BeginForm())
{
    <form class="form-horizontal" role="form">
        <table class="table">
            <tr>
                <td>Nome</td>
                <td>@Html.TextBoxFor(model => model.ClienteId)</td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td>@Html.TextBoxFor(model => model.Nome)</td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <input type="submit" id="search" title="Pesquisar" value="Pesquisar" />
                </td>
            </tr>
        </table>
    </form>
    <div id="resultadoPesquisa">
        @grid.GetHtml(
        fillEmptyRows: true,alternatingRowStyle: "alternate-row",headerStyle: "grid-header",footerStyle: "grid-footer",
        columns: new[] {
            grid.Column("ClienteId"),
            grid.Column("Nome")
            
    })
    </div>
}