@model IEnumerable<MgSolucoes.Models.Pagamento>
@{
    /**/

    ViewBag.Title = "Pagamento cliente";
}



<table class="table">
    <tr>
        <th>Cliente</th>
        <th>Data de pagamento</th>
        <th>Parcela</th>
        <th></th>
        <th>Comissão BM</th>
        
    </tr>

    @foreach (var pagamento in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => pagamento.Clientes.Nome)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Dt_Pagamento)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Parcela_num)</td>
        <td></td>
        <td><input type="text" class="money" id="money" value="@(pagamento.Valor_Pago)" readonly /></td>
        
    <td>

    </tr>

    }
</table>
