@model MgSolucoes.Models.AtendimentoViewModel
@{
    ViewBag.Title = "Novo Atendimento";
}

<h2>Incluir Ocorrencia</h2>
<hr />

@using (Html.BeginForm("Create", "Atendimento", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputState">Cliente</label><span class="badge badge-light">Cliente BM de testes</span>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Representacao</label><span class="badge badge-light">JC interdicao de negocios</span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputState">Tipo de atendimento</label>
            @Html.DropDownListFor(m => m.Status_Atendimento_id,
                                          new SelectList(ViewBag.Atendimento, "Status_Atendimento_id", "Nome"),
                                          "Status deste atendimento", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Boleto enviado</label>
            <select class="form-control" id="Boleto_Enviado" name="Boleto_Enviado">
                <option value="1">Sim</option>
                <option value="0">Não</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Lance ofertado?</label>
            @Html.DropDownListFor(m => m.Status_Lance_id,
                                          new SelectList(ViewBag.Lance, "Status_lance_id", "Nome"),
                                          "Lance ofertado?", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Reclamacoes?</label>
            <select class="form-control" data-val="true" data-val-required="O campo Lance Foi Ofertado? é obrigatório." id="Procon" name="Procon">
                <option value="0">Procon</option>
                <option value="1">Pequenas causas</option>
                <option value="2">Reclame aqui</option>
                <option value="3">Nenhuma ação</option>
            </select>
        </div>
    </div>

    <div class="form-row">

        <a class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">
                <input type="submit" value="Adicionar Ocorrencia" class="btn btn-success" />
            </span>
            <span class="text">
                @Html.ActionLink("Cancelar", "Inicio", null, new { @class = "btn btn-danger" })
            </span>

        </a>

    </div>
    <br>
    <div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descrição do atnedimento</label>
                    <textarea class="form-control" name="Texto" id="Texto" rows="7"></textarea>
                </div>
            </div>

        </div>


    </div>

}
<div>
</div>

