@using Microsoft.AspNet.Identity

<div class="topbar-divider d-none d-sm-block"></div>

@if (Request.IsAuthenticated)
{

    
    @Html.Partial("_MenuLogado")

}
else
{
    @Html.Partial("_MenuDeslogado")


}

<!-- Nav Item - User Information -->
